body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

#about {
  text-align: center;
  padding: 20px;
}

#skills,
#projects,
#resume,
#contact {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.project {
  margin: 20px 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
